h1 {
    font-size: 30px;
    font-family: 'Gugi', cursive;
}
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: rgb(173, 245, 91);
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: paleturquoise;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: brown;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.container{
 align-items: center;   
 margin-left: auto;
} 

