<head>

    <style>
        h1 {
            text-align: center;
            padding-top: 60;
        }

        .first_question{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="first_question">
        <h1>알맞은 도구를 선택해주세요</h1>
        <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
                src="https://ccimg.hellomarket.com/images/2019/item/08/01/22/2114_4158692_1.jpg?size=s6" width="300"
                height="280" alt="소주잔" class="img-rounded"></a>
        <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
                src="https://shop.r10s.jp/motherskitchen/cabinet/mugcup/imgrc0073044881.jpg" width="300" height="280"
                alt="머그컵" class="img-rounded"></a>
        <a href="/yes/" class="btn btn-primary btn-lg active" role="button"><img
                src="https://shop3.daumcdn.net/thumb/R200x200.q90/?fname=http%3A%2F%2Fshop3.daumcdn.net%2Fshophow%2Fp%2FM8169752962.jpg%3Fut%3D20191220221740"
                width="300" height="280" alt="달고나 국자" class="img-rounded"></a>
        <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
                src="https://m.emjeijan.com/web/product/big/201805/20_shop1_15264308324991.jpg" width="300" height="280"
                alt="와인잔" class="img-rounded"></a>
    </div>


</body>