<style>
  @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

  h1 {
    text-align: center;
    padding-top: 100;
    padding-bottom: 35;
    font-family: 'Gugi', cursive;
    color: white;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: 'Gugi', cursive;
  }

  .a {
    text-align: center;
    font-family: 'Gugi', cursive;
  }

  .container {
    text-align: center;
  }

  .btn {
    display: block;
    width: 180px;
    height: 56px;
    line-height: 40px;
    border: 1px #8635f1 solid;
    margin: 15px auto;
    background-color: #8635f1;
    text-align: center;
    font-size: large;
    font-family: 'Gugi', cursive;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.9s, color 0.3;
  }

  .btn:hover {
    color: rgb(238, 255, 0);
  }

  .hover4:hover {
    box-shadow: 200px 0 0 0 rgba(0, 255, 221, 0.25) inset, -200px 0 0 0 rgba(255, 21, 216, 0.25) inset;
  }

  body {
    background-image: url("https://t1.daumcdn.net/cfile/tistory/22544B44586CAFF014");
    background-size: initial;
  }
</style>


<div class="a">
  <h1>달고나 만들기 실패!</h1>
  <img src="https://t1.daumcdn.net/cfile/tistory/9997BF355E1C237F17" width="400" height="300" alt="망한달고나" />
  <h2>ㅜㅡㅜ</h2>
  <div class="container">
    <a href="/happy/"><button class="btn hover4">다시 돌아가기 </button></a>
  </div>
</div>