<style>
    .done {
        text-align: center;
    }

    body{
        text-align: center;
    }

    h2{
        padding-top: 20px;
    }
</style>

<body>
    <div= class="done">
        <h2>달고나 완성!</h2>
        <img src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/73470549_147441806597933_966956376826250331_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=kAm8SIorRYAAX_hdO42&oh=b3cee192bc065d9629ba9d34a3df24e0&oe=5EDF817A" width="600" height="500" alt="쿠키모양달고나" />
        <h2>냠냠</h2>    
    </div>
    <div class="container">
        <a href="/happy/"><button class="btn-1">다시 만들러 가기</button></a>
      </div>

</body>