<style>
    @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

    h1 {
        margin-left: 500px;
        margin-right: 500px;
        background-color: rgb(177, 194, 248);
        color: rgb(0, 0, 0);
        font-family: 'Gugi', cursive;
        text-align: center;
    }

    body {
        text-align: center;
        background-image: url("http://img.vogue.co.kr/vogue/2015/04/style_579d1d0a47824.png");
        background-size: contain;
    }
    .colorbox{
        padding-top: 100;
    }
    
</style>

<body>
    <div class="colorbox">
        <h1>알맞은 재료를 선택해주세요</h1>
    </div>
    <br />
    <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://img3.tmon.kr/cdn3/deals/2019/09/05/2418745934/2418745934_front_sZhIpN70Vv.jpg" width="300"
            height="300" alt="라면스프" class="img-rounded"></a>
    <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://img.danawa.com/prod_img/500000/104/029/img/4029104_1.jpg?shrink=500:500&_v=20160919143536"
            width="300" height="300" alt="다시다" class="img-rounded"></a>
    <a href="/no/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://www.cookiebebe.com/shopimages/cookiebebe/005008000074.jpg?1561004305" width="300" height="300"
            alt="박력분" class="img-rounded"></a>
    <a href="/yes3/" class="btn btn-primary btn-lg active" role="button"><img
            src="http://i.011st.com/ex_t/R/400x400/1/85/0/src/pd/19/5/0/4/0/9/3/ocOmS/2561504093_B.jpg" width="300"
            height="300" alt="베이킹소다" class="img-rounded"></a>


</body>