<style>
    @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

    h1 {
        font-family: 'Gugi', cursive;
        text-align: center;
        padding-top: 30px;
        color: rgb(255, 255, 255);
    }

    h2 {
        margin-left: 500px;
        margin-right: 500px;
        background-color: lightcyan;
        font-family: 'Gugi', cursive;
        text-align: center;
        width: 400;
        color: rgb(39, 26, 12)
    }

    h3 {
        margin-left: 600px;
        margin-right: 600px;
        background-color: lightcyan;
        font-family: 'Gugi', cursive;
        text-align: center;
        color: rgb(0, 17, 255);
    }


    body {
        text-align: center;
        background-size: contain;
        background-image: url("http://img.vogue.co.kr/vogue/2015/04/style_579d1d1970614-1024x734.jpg");
    }

    .second_question {
        font-family: 'Gugi', cursive;
        text-align: center;

    }

    #count {
        font-family: 'Gugi', cursive;
        font-size: 40px;
        background-color: rgb(54, 17, 52);
        color: rgb(255, 255, 255);

    }



    #select {
        font-family: 'Gugi', cursive;

    }

    .a {
        background-color: pink;
        height: 50px;
        width: 100px;
        font-size: 20px;
        font-family: 'Gugi', cursive;
    }

    #show_1 {
        font-family: 'Gugi', cursive;
        display: none;
        color: white;
    }

    #show_2 {
        font-family: 'Gugi', cursive;
        color: white;
        display: none;
    }

    #show_3 {
        font-family: 'Gugi', cursive;
        color: white;
        display: none;
    }
</style>





<div class="centercenter">
    <h1>
        자 이제 달고나를 저어볼까요?
    </h1>
    <h2>400번을 저어주어야 한답니다~.~</h2>
    <img src="https://www.foodnews.news/data/photos/20200312/art_15843438552099_ac9b0a.png" alt="달고나 휘젓는 사진" width="200"
        height="200">
    <br />
    <br />


    <button class="a" type="button" onclick=button_onclick()> 휘젓기 </button>
</div>
<br />

<span id='count'></span>
<div id="show_1">
    <img src="https://file3.instiz.net/data/cached_img/upload/2019/10/03/15/6b1e55dc10e568262bd7236701a6d79a.jpg"
        width="230" height="180">
    <br />
    <br />
    <span>거의 다 왔어요!!
        <br />
        앞으로 300번만 더! 화이팅~.~
    </span>
</div>

<div id="show_2">
    <img src="https://mblogthumb-phinf.pstatic.net/MjAxODAyMTJfMjYy/MDAxNTE4NDA2Mzc3MzUy.TfP5bu5DGLdVImf5xTlhF7Voc42W2ysUFquD-zMq8fAg.SpDOqVqNPi5nHEo7sx2sY79MPdMb1A66FpDjt3GaKN8g.GIF.ifixph/SmartSelectGIF_2018-02-12-11-21-49.gif?type=w800"
        width="200" height="200">
    <br />
    <br />
    <span>거의 다 왔어요!!
        <br />
        앞으로 200번만 더! 화이팅~.~
    </span>
</div>

<div id="show_3">
    <img src="https://item.kakaocdn.net/do/f6061843420e81c20cb2b9ac678b0618f43ad912ad8dd55b04db6a64cddaf76d"
        width="200" height="200">
    <br />
    <br />
    <span>거의 다 왔어요!!
        <br />
        앞으로 100번만 더! 화이팅~.~
    </span>
</div>

<div id="select" style="display:none;">
    <h3>모양을 선택해주세요</h3>
    <a href="/star/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://www.hsmaru.com/shopimages/kigujiro/0220030000522.jpg" width="150" height="150" alt="별모양"
            class="img-rounded"></a>
    <a href="/two/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://tshop.r10s.jp/majimaya/cabinet/majimayas/product5/tr0008.jpg?fitin=330:330" width="150" height="150"
            alt="하트모양" class="img-rounded"></a>
    <a href="/three/" class="btn btn-primary btn-lg active" role="button"><img
            src="https://www.cookiebebe.com/shopimages/cookiebebe/006002000178.jpg?1508313372" width="150" height="150" alt="쿠키모양"
            class="img-rounded"></a>
</div>

<script lang='javascript'>
    var count = 0;
    function button_onclick() {
        count++;
        document.getElementById('count').innerHTML = count;
        if (count == 400) {
            alert("짝짝짝~~드디어 400번! 달고나 완성입니다!!");
            document.getElementById('select').style.display = 'block';
        }
        if (count == 100) {
            document.getElementById('show_1').style.display = 'block';
        }
        if (count == 199) {
            document.getElementById('show_1').style.display = 'none';
        }
        if (count == 200) {
            document.getElementById('show_2').style.display = 'block';
        }
        if (count == 299) {
            document.getElementById('show_2').style.display = 'none';
        }
        if (count == 300) {
            document.getElementById('show_3').style.display = 'block';
        }
        if (count == 399) {
            document.getElementById('show_3').style.display = 'none';
        }
    }
</script>